@font-face{
    src: url(fonts/OliverFontRegular.ttf) format('truetype');
    font-family: oli;
}




html {
    height: 300%;
    background: radial-gradient(ellipse at bottom, #91AA9D 0%, #FCFFF5 100%);
}


/*
Remove default margin.
*/

body {
    font-family: oli;
    margin: 0;
}

